#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    background-color: #003268;
    z-index: 10;
    color: white;
}
#map-nav.closed {
    animation: slide-down ease 0.25s;
    top: 100vh;
    z-index: 10;
    right: 0;
}
#map-nav.open {
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    background-color: white;
    right: 0;
    top: 0px;
    height: 100vh;
    z-index: 10;
    animation: slide-up ease 0.25s;
    overflow-y: scroll;
    padding-top: 50px;
}

.open .venues-header {
    position:relative;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #684c00;
    top: 0;
    color: white;
    font-weight: 400;
    padding-top: 20px;
    z-index: 20;
}
.open .venues-header i {
    float: right;
    padding-right: 10px;
}

.open #filters-container {
    width: 100%;
    max-width: 400px;
    height: 100px;
    border: 1px solid red;
    background-color: lightgrey;
    min-height: 100px;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 20;
}

.open #venues-container {
    list-style-type:none;
    width: 100%;
    padding: 0;
    position:fixed;
    top: 115px;
    margin-top:0;
    padding-bottom: 50px;
    width: auto;
}
.open #filters-container div {
    float: left;
    background-color: darkgrey;
    color: white;
    border-radius: 30px;
    height: 17px;
    margin: 2px;
    font-size: 14px;
    padding: 5px;
}
.open #filters-container div.selected {
    float: left;
    background-color: blue;
    color: white;
    border-radius: 30px;
    height: 17px;
    margin: 2px;
    font-size: 14px;
    padding: 5px;
}
#map-nav #venues-container li {
    height: 72px;
    padding: 10px;
    background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.2);
}
#map-nav ul li.selected {
    background-color: #24489F;
}

#map-nav ul li .material-icons {
    font-size: 2em;
    float: left;
}

svg path[id^="Venue"] {
    opacity: 1;
}

svg path[id^="Path"] {
    display: none !important;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.button.fab {
    background-color: #003268;
    color: white;
    border-radius: 50px;
    padding: 15px;
    text-transform: uppercase;
    border: none;
}

#map-legend {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#map-legend .label {
    padding-top: 5px;
    padding-left: 10px;
    float: right;
}

#map-legend .material-icons {
    float: left;
}

.sizer {
    width: 100%;
    max-width: 400px;
    height: 100px;
}



@keyframes slide-up{
    0% {
        transform:  translate(0px,100vh);
    }
    100% {
        transform:  translate(0px,0px);
    }
}

@keyframes slide-down {
    0% {
        transform:  translate(0px,0px);
    }
    100% {
        transform:  translate(0px,100vh);
    }
}